@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300..800&display=swap');

:root {
    --primary-color: rgb(13, 106, 134);
    --primary-color-darker: rgb(9, 48, 56)
}

* {
    box-sizing: border-box;
    outline: 0;

}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    background-image: url('/exe9_Tela_de_Login/assets/img/tela.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.container {

    max-width: 640px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffffa8;
    border-radius: 40px;
    text-align: center;
}

form input, form label, form button {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

form input {
    font: 24px;
    height: 50px;
    padding: 0 20px;
}

form input:focus {
    outline: 1px solid var(--primary-color)
}

form button {
    border:none;
    background: var(--primary-color);
    color: #fff;
    font-size: 18px;
    width: 300px;
    height: 50px;
    cursor: pointer;
    border-radius: 40px;
    justify-content: center;
    align-items: center;
}

form button:hover {
    background: var(--primary-color-darker);
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;

}

.resultado, .succsess, .bad {
    border-radius: 40px;
}

.succsess {
    background: rgba(0, 128, 0, 0.295);
    color: #fff;
}

.bad {
    background: rgba(255, 0, 0, 0.295);
    color: #fff;

}